@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #DB2626;
  --bodyfont: 'Roboto', sans-serif;
}

body {
  background: #FFFFFF;
  margin: 0;
  font-family: 'Manrope' , sans-serif;
}

.navbar {
  padding: 2em 2em 2em 2em;
  border-bottom: 3px var(--primary-color);
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 2em;
  font-family: "Monoton", sans-serif;
}

.navbar nav {
  display: none;
}

.navbar .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 2em 2.5em;
}

.hero {
  padding: 0 2em;
}

.hero .container .left-col {
  line-height: 1em;
}

.hero .container .left-col .title-main {
  line-height: 1em;
}

.hero .container .left-col .title-main .title-black {
  color: black;
  font-size: 3.5em;
}

.hero .container .left-col .title-main .title-red {
  color: var(--primary-color);
  font-size: 3.5em;
  line-height: 1em;
  margin: 0;
}

.hero .container .left-col .hero-about {
  padding: 2em 0em 0em 0em;
  font-family: var(--bodyfont);
}

.hero .container .left-col .hero-about p {
  line-height: 1.9em;
  font-size: 1em;
  letter-spacing: .02em;
}

.hero .container .left-col .hero-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 0em 0em 0em;
}

.hero .container .left-col .hero-cta a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  padding: 1.5em 1em 0 1em;
}

.hero .container .left-col .hero-cta h3 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
}

.hero .container .left-col .hero-cta .bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.hero .container .right-col {
  display: none;
}

.heading {
  color: var(--primary-color);
  font-size: 4em;
  text-align: center;
}

.work-container {
  text-align: center;
}

.work-container .project-example {
  text-align: left;
  margin: 2em 0 2em 0;
}

.work-container .project-example h4 {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding-top: 1em;
  font-size: 1.4em;
}

.work-container .project-example p {
  margin: 0;
  padding: 1em 0 1em 0;
  font-family: var(--bodyfont);
  line-height: 2em;
  color: grey;
}

.work-container .project-example .work-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.work-container .project-example .work-cta .git-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 1em;
}

.work-container .project-example .work-cta .live-link {
  padding-top: 6px;
}

.work-container .rmm {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.work-container .left-work-1 {
  padding: 1em;
}

.work-container .left-work-2 {
  padding: 1em;
}

.work-container .right-work-1 {
  padding: 1em;
}

.work-container .right-work-2 {
  padding: 1em;
}

.current-project {
  text-align: left;
}

.current-project .current-example {
  text-align: left;
  margin: 2em 0 2em 0;
  padding: 1em;
}

.current-project .current-example img {
  width: 100%;
  border-radius: 8px;
}

.current-project .current-example .curr-description {
  text-align: center;
}

.current-project .current-example .curr-description h4 {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 1em 0 0em 0;
  font-size: 1.4em;
}

.current-project .current-example .curr-description p {
  margin: 0;
  padding: 1em 0 1em 0;
  font-family: var(--bodyfont);
  line-height: 2em;
  color: grey;
}

.current-project .current-example .curr-description .curr-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.current-project .current-example .curr-description .curr-cta .curr-git {
  padding-right: 1em;
}

.current-project .current-example .curr-description .curr-cta .curr-live {
  padding-top: 3px;
}

#skills {
  text-align: center;
}

#skills .container .grid-wrap {
  display: -ms-grid;
  display: grid;
  position: relative;
}

#skills .container .grid-wrap .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(95px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
  grid-gap: 1rem;
  width: 88%;
  margin: auto;
}

#skills .container .grid-wrap .grid > div {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  background-color: #f3f3f3;
}

#skills .container .grid-wrap .grid > div::before, #skills .container .grid-wrap .grid > div > img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

#skills .container .grid-wrap .grid > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}

#skills .container .grid-wrap .grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

#skills .container .about-me {
  padding-top: 6em;
}

#skills .container .about-me p {
  font-family: var(--bodyfont);
  line-height: 1.9em;
  font-size: 1em;
  letter-spacing: .02em;
}

#contact {
  padding-top: 2em;
  text-align: start;
}

#contact .title {
  padding-top: 1em;
}

#contact .title .contact-head {
  color: var(--primary-color);
  font-size: 2em;
  margin: 0;
}

#contact .title p {
  font-family: var(--bodyfont);
  line-height: 1.9em;
  font-size: 1em;
  letter-spacing: .02em;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

footer {
  padding: 5em 2em 3em 2em;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .title-footer .logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 1.5em;
  font-family: "Monoton", sans-serif;
}

footer .container .social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50%;
  padding-top: .6em;
}

footer .container .social-footer .social {
  text-decoration: none;
  font-family: var(--bodyfont);
  margin-left: 2em;
  padding-bottom: .2em;
}

footer .container .social-footer a {
  position: relative;
  color: black;
  text-decoration: none;
}

footer .container .social-footer a:hover {
  color: black;
}

footer .container .social-footer a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

footer .container .social-footer a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 30%;
  right: 0;
  top: 0;
  background: #f6f6f6;
  height: 100vh;
  padding: 1em;
  border-radius: 0 0 0 5px;
}

nav ul.primary-nav {
  display: none;
}

nav ul.secondary-nav {
  margin-top: 3em;
  font-family: var(--bodyfont);
  font-size: 1em;
  text-align: start;
}

nav li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  section.hero {
    padding: 3em;
  }
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80px auto;
        grid-template-columns: 80px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar {
    padding: 2em 3em 0 3em;
    display: flexbox;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .logo-div {
    padding: 1em 0;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: none;
  }
  .navbar nav li {
    height: 1em;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav .secondary-nav {
    margin: 0;
  }
  .navbar nav .secondary-nav li a {
    padding: .8em 0 .1em 0;
    font-size: 1.1em;
    margin-left: 1.2em;
  }
  .navbar nav .secondary-nav a {
    position: relative;
    color: black;
    text-decoration: none;
  }
  .navbar nav .secondary-nav a:hover {
    color: black;
  }
  .navbar nav .secondary-nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .navbar nav .secondary-nav a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .hero .left-col {
    line-height: 1em;
    padding: .5em 0;
    width: 75%;
    margin: 0;
  }
  .hero .left-col .title-main .title-black {
    color: black;
    font-size: 3.5em;
  }
  .hero .left-col .title-main .title-red {
    color: var(--primary-color);
    font-size: 3.5em;
    line-height: .3em;
  }
  .hero .left-col .hero-about p {
    width: 80%;
    margin: 3em 0 2.5em 0;
  }
  #work .work-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #work .work-container .image {
    margin: 0 2em 0 2em;
  }
  #work .work-container .left-col-work {
    min-width: 650px;
    max-width: 1440px;
  }
  #work .work-container .right-col-work {
    max-width: 650px;
    max-width: 1440px;
  }
  #work .work-container .current-example {
    margin-top: 3em;
  }
  #work .work-container .curr-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 600px;
    margin: auto;
  }
  #skills {
    padding: 3em 3em 0 3em;
  }
  #skills .container .grid {
    padding: 3em 0 2em 0;
  }
  #skills .container .about-me p {
    width: 50%;
    margin: auto;
  }
  #contact {
    padding: 9em 0 9em 0;
  }
  #contact .container {
    width: 50%;
    margin: auto;
  }
  footer {
    padding: 7em 3em 2em 3em;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar {
    padding: 2em 5em 0 5em;
  }
  section.hero {
    padding: 0 5em 0 5em;
  }
  .hero .container .left-col {
    width: 60%;
    padding: 0;
  }
  .hero .container .left-col .title-main {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .hero .container .left-col .hero-about {
    padding-bottom: 1em;
    font-size: 1.1em;
  }
  #work {
    margin: 2em 0 2em 0;
  }
  .work-container .mirror {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-container .non-mirror {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-container .project-example .image {
    margin: 2em;
    max-width: 425px;
    min-width: 500px;
  }
  .work-container .project-example .project-info {
    margin: 2em;
  }
  .work-container .project-example p {
    padding-bottom: 1em;
  }
  .work-container .project-example .work-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .work-container .project-example .work-cta .git-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0em 1em 0em 0em;
  }
  .work-container .project-example .work-cta .live-link {
    font-family: var(--bodyfont);
    font-size: .9em;
    color: black;
    text-decoration: none;
  }
  .work-container .current-project .current-example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 9em 0 0em 0;
    padding: 3em 3em 0 3em;
  }
  .work-container .current-project .current-example .curr-img {
    display: block;
    margin: auto;
    max-width: 700px;
  }
  #skills {
    padding: 5em;
  }
  footer {
    padding-right: 5em;
    padding-left: 5em;
  }
}

@media only screen and (min-width: 1440px) {
  .navbar {
    padding: 1em 8em 0 8em;
  }
  .navbar .primary-nav li {
    padding-bottom: .2em;
    padding-left: .5em;
  }
  section.hero, #work {
    padding: 0 8em 0 8em;
  }
  .hero .container .left-col {
    width: 60%;
    padding: 0;
  }
  .hero .container .left-col .title-main {
    padding: 1em 0 0 0;
  }
  .hero .container .left-col .hero-about {
    padding: 0;
  }
  .hero .container .left-col .hero-cta {
    padding-bottom: 4em;
  }
  .heading {
    font-size: 6em;
  }
  #work .work-container .left-col-work .left-work-1 {
    padding: 2em 2em 6em 2em;
  }
  #work .work-container .left-col-work .left-work-2 {
    padding: 0em 2em 6em 2em;
  }
  #work .work-container .right-col-work .right-work-1 {
    padding: 0em 2em 6em 2em;
  }
  #work .work-container .right-col-work .right-work-2 {
    padding: 0em 2em 6em 2em;
  }
  #contact {
    padding-right: 8em;
    padding-left: 8em;
  }
  #contact .container .title .contact-head {
    font-size: 3.5em;
  }
  footer {
    padding-right: 8em;
    padding-left: 8em;
  }
}

@media only screen and (min-width: 1600px) {
  .navbar {
    padding: 2em 10em 0 10em;
  }
  section.hero, #work {
    padding: 0 10em 0 10em;
  }
  .left-col .title-main {
    margin-top: 2em;
  }
  .left-col .hero-about p {
    padding: 2em 0 0 0;
  }
  #work .work-container .left-col-work .left-work-1 {
    padding: 2em 2em 10em 2em;
  }
  #work .work-container .left-col-work .left-work-2 {
    padding: 0em 2em 10em 2em;
  }
  #work .work-container .right-col-work .right-work-1 {
    padding: 0em 2em 10em 2em;
  }
  #work .work-container .right-col-work .right-work-2 {
    padding: 0em 2em 10em 2em;
  }
  #work .current-project .current-example {
    padding: 0 10em 10em 10em;
  }
  .about-p .about-me {
    width: 50%;
    line-height: 3em;
  }
}
/*# sourceMappingURL=main.css.map */